/* color */
.bg_blu_scuro {
    background-color: #2C3E50;
}
.bg_blu {
    background-color: #3A546D;
}
.bg_verde {
    background-color: #1ABC9C;
}
.text_verde {
    color: #1ABC9C;
}

/* utility */

/* bedug height*/

/* .start {
    height: 590px;
} */
/* .portfolio {
    height: 610px;
} */
/* .about {
    height: 300px;
} */
/* .contact {
    height: 500px;
} */
/* .top_footer {
    height: 200px;
} */
/* .bottom_footer {
    height: 100px;
} */

/* css */
.fa-star {
    font-size: 2rem;
}
.linea {
    height: 3px;
    border-radius: 2px;
}
img {
    height: 200px;
}
.form-control {
    padding: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0%;
}

.top_footer .row > .bordi_loghi {
    height: 45px;
    width: 45px;
}