/* color */
.bg_blu_scuro {
    background-color: #2C3E50;
}
.bg_blu {
    background-color: #3A546D;
}
.bg_verde {
    background-color: #1ABC9C;
}

/* utility */

/* bedug height*/

/* .start {
    height: 590px;
} */
.portfolio {
    height: 610px;
}
.about {
    height: 300px;
}
.contact {
    height: 500px;
}
.top_footer {
    height: 200px;
}
.bottom_footer {
    height: 100px;
}

/* css */
.fa-star {
    font-size: 2rem;
}
.linea {
    height: 3px;
    border-radius: 2px;
}
img {
    height: 200px;
}